# Database connection string (libSQL / SQLite)
DATABASE_URI=file:payload.db

# Or use a LibSQL/Neon connection string, for example:
# DATABASE_URI=libsql://your-database-name.turso.io?authToken=...

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
